* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 2rem 0;
  display: grid;
  grid-template: auto / auto 100px;
  align-items: center;
}

h3 {
  margin: auto;
  text-align: center;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
}

form {
  border: 1px solid black;
  padding: 5rem;
  width: 65%;
  margin: 1.5rem auto;
  position: relative;
}

form > label,
input {
  margin: 1rem 0;
}

form > input:focus,
.signatures input:focus,
.emergency input:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

.custom-passport-upload {
  cursor: pointer;
}

#photo-upload {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  overflow: hidden;
  align-content: center;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.longer-input {
  width: 250px;
}

.full-width-input {
  width: 100%;
}

.grid-container {
  display: grid;
  text-align: center;
  border: 1px solid black;
}

.section-a-b {
  grid-template: auto 150px / 25% 10% 15% 15% 10% 25%;
}

.section-c {
  grid-template: 3rem 150px / 20% 20% 20% 20% 20%;
}

.section-d {
  grid-template: 3rem 150px / 25% 25% 25% 25%;
}

.section-f {
  grid-template: auto / 10% 20% 15% 15% 20% 20%;
}

.section-g {
  grid-template: auto / 5% 30% 25% 20% 20%;
}

.section-i-j {
  grid-template: 2.5rem / 5% 19% 19% 19% 19% 19%;
}

.grid-container > div {
  border: 1px solid black;
  resize: none;
}

.grid-container > div > p {
  align-self: center;
  font-weight: bold;
}

.person-case-of-emergency {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;
}

.emergency {
  display: grid;
  grid-template-columns: 5% 90%;
}

.attested {
  display: grid;
  grid-template-columns: 50% 50%;
}

.signatures input,
label {
  margin: 0;
}
